.item{
  display: flex;
  height: 200px;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #80808065;
  .itemInfo{
    padding-left: 20px;
    h5{
      margin: 8px 0;
      font-size: 14px;
      font-weight: 600;
    }
    p{
      margin: 8px 0;
      font-size: 14px;
      color: #747474;
    }
    button{
      border: none;
      padding: 0;
      background-color: transparent;
      font-size: 14px;
      color: #747474;
    }
  }
  .itemCounter{
    display: flex;
    button{
      padding: 10px;
      border: 1px solid #adadad79;
      margin: 0;
      padding: 10px 15px;
      background-color: transparent;
      // font-size: 20px;
    }
    p{
      padding: 10px 15px;
      border: 1px solid #adadad79;
      margin: 0;
    }
  }

}