.card{
  // width: 25%;
  margin: 5px;
  position: relative;
  img{
    width: 100%;
  }
  .sizes{
    width: 97%;
    border-radius: 5px;
    background-color: #ffffffd4;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 5px;
    bottom: 62px;
    transition: all 0.3s ease-in-out;
    // transition: visibility 0.3s ease-in-out;
    // transition: opacity 0.3s ease-in-out;
    button{
      text-transform: uppercase;
      padding: 10px;
      width: 40px;
      background-color: #fff;
      border: none;
      box-shadow: 0px 0px 8px -1px rgba(34, 60, 80, 0.536);
      margin: 0 5px;
      transition: transform 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;

      &:hover{
        color: white;
        background-color: #000000;
        transform: translateY(-2px);
      }
      &:focus{
        color: rgb(255, 255, 255);
        background-color: #458dd5;
        transform: translateY(-2px);
      }
    }
    ul{
      display: flex;
      width: 80%;
      padding: 0;
      justify-content: center;
      list-style: none;
    }
  }
  .cardInfo{
    display: flex;
    justify-content: space-between;
  }
  .price{
    font-size:18px;
    color: #444;
    font-weight:600;
    margin: 0;
  }
  .leftInfo{
    .isNew{
      margin: 5px 0;
      font-size: 13px;
      padding-left: 5px;
      font-weight: bold;
      border-left: 3px solid black;
    }
    .title{
      font-size:16px;
      color: #444;
      font-weight: 500;
      margin: 0;
    }
    .color{
      color:#6E6E6E;
      font-size: 14px;
      margin: 8px 0;
      font-weight: 500;
    }
    
  }
  
}