.AccessoriesCard{
  width: 100%;
  cursor: pointer;
  position: relative;
  &__sizes{
    width: 97%;
    border-radius: 5px;
    background-color: #ffffffd4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 5px;
    bottom: 16%;
    transition: all 0.3s ease-in-out;
    padding: 10px 30px;
    box-sizing: border-box;
    // transition: visibility 0.3s ease-in-out;
    // transition: opacity 0.3s ease-in-out;
    .noSizeButton{
      width: auto;
      border-radius: 20px;
      background-color: #5e9cf1;
      padding: 10 20px;
      box-sizing: border-box;
      color: white;
      font-weight: bold;

    }
    button{
      text-transform: uppercase;
      padding: 10px;
      width: 40px;
      background-color: #fff;
      border: none;
      box-shadow: 0px 0px 8px -1px rgba(34, 60, 80, 0.536);
      margin: 5px 5px;
      transition: transform 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;

      &:hover{
        color: white;
        background-color: #000000;
        transform: translateY(-2px);
      }
      &:focus{
        color: rgb(255, 255, 255);
        background-color: #458dd5;
        transform: translateY(-2px);
      }
    }
    ul{
      display: flex;
      width: 80%;
      padding: 0;
      justify-content: center;
      
      list-style: none;
    }
  }
  img{
    width: 100%;
  }
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__price{
    font-size:18px;
    color: #444;
    font-weight:600;
    margin: 0;
  }
  &__isNew{
      text-transform: uppercase;
      margin: 5px 0;
      font-size: 13px;
      padding-left: 5px;
      font-weight: bold;
      border-left: 3px solid black;
  }
  &__title{
    font-size:16px;
    color: #444;
    font-weight: 500;
    margin: 0;
  }
  &__color{
    color:#6E6E6E;
    font-size: 14px;
    margin: 8px 0;
    font-weight: 500;
  }
}