*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none; 
}
button{
  cursor: pointer;
}

.container{
  padding: 0 40px;
  margin: 0 auto;
}

header{
  background-color: rgb(255, 255, 255);
  width: 100%;
  // padding: 10px 0;
  position: sticky;
  top: 0%;
  z-index: 1;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
    border-bottom: 0.1rem solid rgb(210, 210, 210);
    .header__logo{
      color: #000;
    }
    .header__nav{
      li{
        transition: border-bottom 0.2s ease-in-out;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          height: 3px;
          background-color: #000000;
          width: 0;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          transition: 0.2s ease-in-out all;
        }
        &:hover:after{
          width: 70%;
        
        }
      }
    }
    ul{
      display: flex;
      height: 75px;
      margin: 0;
      li{
        display: flex;
        align-items: center;
        cursor: pointer;
        
        
        a{
          font-size: 14px;
          text-transform: uppercase;
          color: black;
          font-weight: 700;
          padding: 0 15px;
        }
        .header__items{
          font-size: 14px;
          text-transform: uppercase;
          color: black;
          font-weight: 700;
          padding: 0 15px;
        }
        // &:hover{
        //   border-bottom: 3px solid black;
          
        // }
        
      }
    }
    .header__logo{
      display: flex;
    }
    .header__items{
      position: relative;
      span{
        padding: 7px;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #4676d6;
        color: white;
        width: 5px;
        height: 5px;
        font-size: 12px;
        position: absolute;
        top: 12px;
        right: 8px;
      }
    }
    h1{
      font-size: 18px;
      margin-left: 10px;

    }
  }
  
}

  
.banner{
  background-color: rgb(145, 183, 236);
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;
  .container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
  }
  h2{
    font-size: 40px;
    color: white;
    margin-bottom: 0;
    width: 550px;
  }
  p{
    color: white
  }
  button{
    font-size: 13px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    margin-right: 5px;
  }
}

.shop-section{
  padding: 30px 0;
  h3{
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
  }
  h4{
    margin: 0;
    font-size: 14px;
    color:rgb(74, 74, 74);
    text-transform: uppercase;
    
  }
  &__items{
    display: flex;
    padding: 40px 0;
  }
  &__headlings-container{
    display: flex;
    justify-content: space-between;
    a{
      font-weight: 700;
      color: #000;
      margin: 0;
      text-decoration:underline;
    }
  }
}

.bottom-block{
  padding: 20px 40px;
  display: flex;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: space-between;
  &__left{
    box-sizing: border-box;

    div{
      text-align: right;
      box-sizing: border-box;
    }
    button{
      padding: 15px 30px;
      border: none;
      border-radius: 30px;
      color:#000;
      background-color: #fff;
      font-weight: 700;
      text-transform: uppercase;

    }
    width: 50%;
    padding-right: 60px;
    height: 40vh;
    background-color: #000000;
    // background-image: url("https://cdn.shopify.com/s/files/1/1367/5207/files/shop_womens_ab1dc1ab-c71b-40f1-b966-2b9292983d69_1440x.jpg?v=1675859825");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &__right{
    box-sizing: border-box;

    margin-left: 10px;
    div{
      text-align: left;
      box-sizing: border-box;

    }
    button{
      padding: 15px 30px;
      border: none;
      border-radius: 30px;
      color:#000;
      background-color: #fff;
      font-weight: 700;
      text-transform: uppercase;

    }
    padding-left: 60px;
    width: 50%;
    background-color: #ff0000;
    // background-image: url("https://cdn.shopify.com/s/files/1/1367/5207/files/GY77468_C66-018_INTL_Web_Banner_Category_Image_1880x1460px_Shop_Mens_1440x.jpg?v=1674666252");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;



  }
}

.search-modal{
  position: sticky;
  overflow: scroll; 
  // position: absolute;
  top: 76px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  button{
    border: none;
    background-color: transparent;
    position: relative;
    right: 20px;
  }
  input{
    width: 100%;
    height: 80px;
    border: none;
    font-size: 24px;
    padding: 0 20px;
    
    &:focus{
      outline: none;

    }
  }
  .search-modal__container{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
  }
  .search-modal__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.Accessories{
  .active{
    border-bottom: 3px solid #000;
    color: black;

  }
  &__header-block{
    background-color: #e7e7e7;
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0px 3rem;  

    h2{
      margin: 0;
      font-size: 34px;

    }
    
  }
  &__types{
    margin: 20px 0 0 0;
    border-bottom: 1px solid #d1d1d1;
  }
  &__SelectedFilters{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0px 3rem;
    p{
      font-size: 14px;
      color:rgb(108, 108, 108);
      font-weight: 700;
      padding-right: 10px
    }
    span{
      color: #464646;
      padding: 6px 20px;
      background-color: #e2e2e2;
      font-weight: 700;
      font-size: 15px;
      margin-right: 10px;
      border-radius: 3px;
    }
  }
  &__filters, 
  &__types{
    ul{
      display: flex;
      text-transform: uppercase;
      color:rgb(115, 115, 115);
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      padding: 0px 3rem;  

      li{
        padding: 20px 20px;
        cursor: pointer;
        transition: color 0.3s;
        &:first-child{
          padding: 20px 0px;

        }
      } 
    }
  }
  &__items{
      padding: 0 48px;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 20px;
  }
}